<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="http://127.0.0.1:8080/css/bootstrap-min-337.css">
    <link rel="stylesheet" href="http://127.0.0.1:8080/css/video.css">
    <link rel="stylesheet" href="http://127.0.0.1:8080/css/home.css">
    <link rel="icon" href="http://127.0.0.1:8080/favicon.png" type="image/png">
  </head>
  <body class="back">
    <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <a style="color: #16A085;" class="navbar-brand" href="{{ url_for('start') }}">Video Streaming System</a>
       </div>
       <form class="ml navbar-form navbar-left" action="search" method="post">
          <div class="form-group">
            <input style="width:500px;" name="search" type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="bt btn btn-default">Submit</button>
       </form>
       <ul class="nav navbar-nav navbar-right">
         <li><a style="color: #16A085;" href="{{ url_for('random_video') }}">Random</a></li>
       {% if not logged_in %}
         <li><a style="color: #16A085;" href="{{ url_for('signup_form') }}">Sign Up</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('login_form') }}">Login</a></li>
       {% endif %}
       {% if logged_in %}
         <li><a style="color: #16A085;" href="{{ url_for('favourites') }}">Favourites</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('upload_form') }}">Upload</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('watched_videos') }}">Watched</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('logout_user') }}">Logout</a></li>
       {% endif %}
     </ul>
     </div>
    </nav>
    <br><br><br>
    <h1 align="center" class="heading1">{{ title }}</h1>
    <video class="center" controls autoplay style="position:center;">
      <source src="http://127.0.0.1:8080/video/{{ video_ID }}" type="video/mp4">
      Your broswer doesn't support this format.
    </video>
    <br>
    <p style="text-align:center; color:#FFFFFF; font-size:22px;">Uploaded by <a style="color:#16A085; font-size:22px; text-decoration:none;" href="/user/{{ uploader }}">{{ uploader }}</a></p>
    <br>
    <p style="text-align:center; color:#FFFFFF; font-size:19px;">Uploaded on {{ vid_upload_date }}</p>
    <br>
    {% if views == "1" %}
    <p style="text-align:center; color:#FFFFFF; font-size:19px;">{{ views }} view</p>
    {% endif %}
    {% if views != "1" %}
    <p style="text-align:center; color:#FFFFFF; font-size:19px;">{{ views }} views</p>
    {% endif %}
    {% if logged_in %}
    {% if not username == uploader %}
    <br>
    <div style="text-align: center;">
      <a style="font-size: 18px; color:#16A085; text-decoration: none;" href="{{ url_for('flag_video', v = video_ID) }}">Flag video</a>
    </div>
    {% endif %}
    {% endif %}
      </body>
</html>
